# **GoogleAds DataAnalytics Sales**

In [1]:
import pandas as pd

# **Memuat Dataset**

In [2]:
import pandas as pd
file = "/content/drive/MyDrive/Checkpoint 1 AVD/GoogleAds_DataAnalytics_Sales_Uncleaned.csv"
df =pd.read_csv(file)

df

,Ad_ID,Campaign_Name,Clicks,Impressions,Cost,Leads,Conversions,Conversion Rate,Sale_Amount,Ad_Date,Location,Device,Keyword
0,A1000,DataAnalyticsCourse,104.0,4498.0,$231.88,14.0,7.0,0.058,$1892,2024-11-16,hyderabad,desktop,learn data analytics
1,A1001,DataAnalyticsCourse,173.0,5107.0,$216.84,10.0,8.0,0.046,$1679,20-11-2024,hyderabad,mobile,data analytics course
2,A1002,Data Anlytics Corse,90.0,4544.0,$203.66,26.0,9.0,NaN,$1624,2024/11/16,hyderabad,Desktop,data analitics online
3,A1003,Data Analytcis Course,142.0,3185.0,$237.66,17.0,6.0,NaN,$1225,2024-11-26,HYDERABAD,tablet,data anaytics training
4,A1004,Data Analytics Corse,156.0,3361.0,$195.9,30.0,8.0,NaN,$1091,2024-11-22,hyderabad,desktop,online data analytic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595,A3595,DataAnalyticsCourse,88.0,5344.0,$242.07,17.0,9.0,0.054,$1418,29-11-2024,HYDERABAD,MOBILE,online data analytic
2596,A3596,DataAnalyticsCourse,154.0,3211.0,$248.28,14.0,6.0,0.039,$1950,2024/11/28,hyderabad,TABLET,data analitics online
2597,A3597,Data Anlytics Corse,113.0,3808.0,$233.25,18.0,4.0,0.035,$1085,2024-11-02,Hyderbad,desktop,data anaytics training
2598,A3598,Data Analytics Corse,196.0,5853.0,$220.13,16.0,7.0,0.036,$1558,2024-11-08,hydrebad,Tablet,data anaytics training
2599,A3599,Data Analytics Corse,NaN,5453.0,NaN,12.0,5.0,NaN,$1174,2024/11/22,HYDERABAD,desktop,analytics for data

# **Business Understanding**

## **Business Objective**

**1. Tujuan Bisnis**<br>
Tujuan bisnis dari penggunaan data ini adalah untuk memaksimalkan Return on Ad Spend dan efisiensi konversi pemasaran. Perusahaan ingin memastikan bahwa setiap uang yang dikeluarkan untuk iklan Google Ads menghasilkan jumlah Leads dan Sale Amount yang optimal, serta mengidentifikasi perangkat mana yang paling menguntungkan.
<br>
<br>
**2. Deskripsi Dataset**<br>
Dataset ini berisi catatan performa iklan harian berdasarkan berbagai kampanye dan kata kunci. Komponen utamanya meliputi:

- Identitas Iklan: Ad_ID, Campaign_Name, dan Keyword yang digunakan.

- Metrik Performa: Impressions (Berapa kali iklan muncul).

- Clicks (Berapa kali iklan diklik).

- Leads (Calon pelanggan yang masuk).

- Conversions (Transaksi yang berhasil).

- Metrik Keuangan: Cost dan Sale_Amount.

- Dimensi Pendukung: Ad_Date, Location, dan Device.
<br>

**3. Tujuan Analisis Bisnis**<br>
Mengapa kita perlu menganalisis data ini?
- Analysis data biaya: Mengetahui kampanye mana yang memiliki biaya tinggi tetapi konversinya rendah.

- Optimalisasi Transaksi yang Berhasil: Menganalisis korelasi antara Keyword dengan Conversion Rate untuk memperbaiki strategi penargetan.

- Peforma Jaringan dan Perangkat: Menentukan apakah pengguna Mobile lebih cenderung melakukan pembelian dibandingkan pengguna Desktop.

- Trend Analysis: Melihat apakah ada hari-hari tertentu di mana performa iklan melonjak atau menurun drastis.
<br>

**4. Masalah pada Dataset**<br>
Beberapa masalah ada pada Dataset ini yaitu:

- Inkonsistensi Penulisan: Campaign_Name memiliki banyak variasi salah ketik: "Data Anlytics Corse", "Data Analytcis Course", "DataAnalyticsCourse". Ini akan merusak agregasi data.

- Format Tanggal Tidak Seragam: Kolom Ad_Date mencampur format YYYY-MM-DD, DD-MM-YYYY, dan YYYY/MM/DD. Ini akan menyebabkan error saat proses analisis waktu.

- Missing Values: Ada kolom seperti Conversion Rate yang terlihat kosong di beberapa baris awal.

- Tipe Data Berantakan: Kolom Cost mengandung simbol mata uang ($), yang membuatnya terbaca sebagai teks (string), bukan angka. Anda tidak bisa menjumlahkan biaya sebelum simbol ini dibersihkan.

## **Assess Situation**

**1. Inventarisasi Sumber Daya**<br>
- Data: Dataset berisi metrik performa Google Ads (Clicks, Impressions, Cost, Leads, Conversions, Sale Amount).

- Teknis: Analisis akan dilakukan menggunakan Python (Pandas) di Google Colab.

- Kebutuhan Pengetahuan: Memerlukan pemahaman tentang metrik pemasaran digital seperti CTR (Click-Through Rate), CPC (Cost Per Click), dan ROAS (Return on Ad Spend).
<br>

**2. Penilaian Kualitas Data**<br>
- Masalah Integritas: Format tanggal yang tidak konsisten (ada yang pakai -, /, dan urutan tanggal/bulan yang tertukar) akan menghambat analisis tren waktu.

- Masalah Kalkulasi: Kolom Cost dan Sale_Amount mengandung simbol mata uang ($), sehingga bertipe data string (teks). Ini harus dikonversi ke float agar bisa dijumlahkan.

- Ketidakteraturan Teks: Banyaknya variasi nama kampanye (misal: "Data Anlytics Corse" vs "Data Analytics Course") akan menyebabkan hasil analisis per kampanye terbagi-bagi dan tidak akurat.

- Missing Values: Terdapat nilai kosong pada kolom Conversion Rate yang harus dihitung ulang secara manual.
<br>

**3. Risiko dan Kendala**<br>
- Risiko Salah Hitung: Jika simbol ($) tidak dihapus dengan benar, fungsi matematika akan error.

- Risiko Lokasi: Lokasi didominasi oleh "Hyderabad" dengan berbagai cara penulisan. Jika tidak dinormalisasi, kita tidak bisa membandingkan performa antar wilayah dengan valid.

- Risiko inkonsistensi penulisan pada Perangkat: Perbedaan penulisan desktop, Desktop, dan DESKTOP bisa membuat satu perangkat terlihat memiliki performa rendah padahal hanya karena datanya terpecah.
<br>

**4. Asumsi Bisnis**<br>
- Mata Uang: Diasumsikan semua biaya dan penjualan dalam satuan Dollar ($) karena simbol yang digunakan seragam.

- Alur Konversi: Diasumsikan bahwa Sale_Amount hanya berasal dari jumlah Conversions yang tercatat di baris tersebut.

- Rentang Waktu: Data dianggap mencakup periode tahun 2024 (berdasarkan snippet tanggal).

## **Analytic Goals & Project Plan**

**1. Analytic Goals**<br>
Tujuan utama analisis ini adalah untuk mengubah data mentah iklan menjadi wawasan strategi pemasaran yang terukur.

- Evaluasi Kinerja Iklan: Mengukur efektivitas setiap kampanye setelah menormalisasi nama kampanye yang berantakan (typo).

- ROAS (Return on Ad Spend) Analysis: Menentukan rasio pendapatan (Sale_Amount) terhadap biaya iklan (Cost) untuk mengetahui iklan mana yang paling menguntungkan.

- Efisiensi Biaya: Menghitung Biaya per Konversi dan Cost Per Click untuk mengidentifikasi pemborosan anggaran.

- Analisis Performa Perangkat & Kata Kunci: Menemukan kombinasi perangkat (Device) dan kata kunci (Keyword) yang menghasilkan tingkat konversi (Conversion Rate) tertinggi.

- Peningkatan Integritas Data: Menciptakan satu sumber data yang bersih yang siap digunakan untuk dashboard manajemen.
<br>

**2. Project Plan**<br>
A. Tahap 1: Eksplorasi<br>
- Audit Metrik: Mengecek statistik deskriptif untuk melihat rentang biaya iklan dan nilai penjualan.

- Deteksi Polusi Data: Mengidentifikasi semua variasi typo pada kolom Campaign_Name, Location, dan Device.

- Audit Format: Mendeteksi keberadaan simbol mata uang ($) dan variasi format tanggal.
<br>

B. Tahap 2: Pembersihan<br>
- Normalisasi Teks: Menggunakan teknik string matching atau pembersihan manual untuk menyatukan "Data Anlytics Corse", "Data Analytcis Course", dll., menjadi satu nama kampanye yang benar.

- Type Casting: Menghapus simbol $ dan mengubah kolom Cost serta Sale_Amount menjadi tipe numerik (float).

- Menyeragamkan format Ad_Date menjadi format standar YYYY-MM-DD.

- Mengatasi Missing Values: Menghitung ulang kolom Conversion Rate yang kosong dengan rumus Conversions / Clicks dikali 100.
<br>

C. Tahap 3: Fitur Tambahan<br>
- Kalkulasi Metriks: Membuat kolom baru untuk ROAS (Return on Ad Spend).

- Pengelompokan Waktu: Membuat kolom kategori Day of Week untuk melihat apakah iklan lebih efektif di hari kerja atau akhir pekan.
<br>

D. Tahap 4: Visualisasi<br>
- Perbandingan Performa: Bar chart perbandingan ROAS (Return on Ad Spend) antar kampanye.

- Perincian Perangkat: Pie chart kontribusi konversi berdasarkan perangkat (Mobile vs Desktop vs Tablet).

- Korelasi: Scatter plot antara Cost dan Sale_Amount untuk melihat apakah semakin besar biaya pasti menghasilkan penjualan lebih tinggi.
<br>

E. Tahap 5: Laporan dan Rekomendasi<br>
- Menyusun dan merekomendasi: "Kampanye mana yang harus dihentikan?" dan "Kata kunci mana yang harus ditambah anggarannya?".

- Export dataset yang sudah bersih ke file .csv baru.